Repository casualjim/slipstream: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-sort

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: cargo-check
        name: Rust check
        description: Run cargo check for basic compilation errors
        args: ["--all-targets", "--workspace"]
      - id: clippy
        name: Rust clippy
        description: Run clippy for linting
        args: ["--all-targets", "--workspace", "--", "-D", "warnings"]

  - repo: local
    hooks:
      - id: rustfmt
        name: Rust format
        description: Run rustfmt to format Rust code
        language: system
        entry: rustfmt
        args: ["--edition", "2024"]
        files: '\.rs$'
      - id: cargo-sort
        name: Sort Cargo.toml dependencies
        description: Check that Cargo.toml dependencies are sorted alphabetically
        entry: cargo
        language: system
        args: ["sort", "--workspace", "--grouped", "."]
        files: '^Cargo\.toml$'
        pass_filenames: false

  - repo: https://github.com/biomejs/pre-commit
    rev: v2.2.0
    hooks:
      - id: biome-check
        exclude: ".vscode/*.json"

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
        name: ShellCheck
        description: Lint shell scripts using ShellCheck
        files: \.(sh|bash|zsh|fish)$

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint-system
        name: Lint GitHub Actions workflow files
        description: Runs system-installed actionlint to lint GitHub Actions workflow files
        language: system
        types: ["yaml"]
        files: ^\.github/workflows/
        entry: actionlint

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files

Add JWT OIDC auth (JWKS) to server, protect routes, add auth config, add service-user jwt-bearer test flow/creds, remove debug, clean warnings
  .gitignore
  Cargo.toml
  crates/slipstream-server/Cargo.toml
  crates/slipstream-server/src/app.rs
  crates/slipstream-server/src/config.rs
  crates/slipstream-server/src/error.rs
  crates/slipstream-server/src/lib.rs
  crates/slipstream-server/src/main.rs
  crates/slipstream-server/src/routes.rs
  crates/slipstream-server/src/server.rs
  crates/slipstream-server/test-key.json
  crates/slipstream-server/test-user.env
  crates/slipstream-server/test-user.json
  workspace-hack/Cargo.toml
Due: rustfmt, cargo-sort

clean up stale dependencies
  crates/slipstream-core/Cargo.toml
  crates/slipstream-metadata/Cargo.toml
  crates/slipstream-restate/Cargo.toml
  crates/slipstream-server/Cargo.toml
  workspace-hack/Cargo.toml
Due: none

slipstream-server: per-file upload limits, JWKS refresh config, S3 wiring, and tests
  Cargo.toml
  crates/slipstream-server/Cargo.toml
  crates/slipstream-server/src/app.rs
  crates/slipstream-server/src/config.rs
  crates/slipstream-server/src/lib.rs
  crates/slipstream-server/src/routes.rs
  crates/slipstream-server/src/server.rs
  crates/slipstream-server/src/services/mod.rs
  crates/slipstream-server/src/services/uploads.rs
  crates/slipstream-server/src/storage/mod.rs
  crates/slipstream-server/src/storage/s3.rs
  crates/slipstream-server/src/testing.rs
Due: rustfmt, cargo-sort

remove stale docs add minio and falkordb in docker compose
  .qoder/quests/restate-axum-routerrs.md
  deploy/local/falkordb.yaml
  deploy/local/minio.yaml
  docs/specs/SERVER_ADD_INTERACTION_SPEC.md
  docs/specs/knowledge-graph-api.md
  docs/specs/knowledge-graph-ingestion-pipeline.md
  docs/specs/knowledge-graph-ingestion-traceability.md
  docs/specs/knowledge-graph-traceability.md
  docs/specs/restate-token-bucket.md
  docs/workitems/planned/01-entity-extraction-message.md
  docs/workitems/planned/02-entity-extraction-text.md
  docs/workitems/planned/03-entity-extraction-json.md
  docs/workitems/planned/04-entity-classification-ontology.md
  docs/workitems/planned/04-entity-classification.md
  docs/workitems/planned/05-entity-attribute-extraction-grounded.md
  docs/workitems/planned/05-entity-attribute-extraction.md
  docs/workitems/planned/06-entity-summary-grounded.md
  docs/workitems/planned/06-entity-summary.md
  docs/workitems/planned/07-node-dedup-single-grounded.md
  docs/workitems/planned/07-node-dedup-single.md
  docs/workitems/planned/08-node-dedup-batch-grounded.md
  docs/workitems/planned/08-node-dedup-batch.md
  docs/workitems/planned/09-node-list-dedup-cluster-summary.md
  docs/workitems/planned/09b-edge-reflection-missing-facts.md
  docs/workitems/planned/10-edge-extraction.md
  docs/workitems/planned/11-edge-date-extraction.md
  docs/workitems/planned/12-edge-dedup-new-vs-related.md
  docs/workitems/planned/13-edge-dedup-list-unique.md
  docs/workitems/planned/14-edge-resolution-dup-contradiction-type.md
  docs/workitems/planned/15-cross-encoder-rerank.md
  docs/workitems/planned/16-embedding-generation.md
Due: none

Add file management endpoints and infrastructure
  .config/hakari.toml
  .mise.toml
  Cargo.toml
  WARP.md
  compose.yml
  crates/slipstream-server/Cargo.toml
  crates/slipstream-server/src/lib.rs
  crates/slipstream-server/src/routes.rs
  crates/slipstream-server/src/services/files.rs
  crates/slipstream-server/src/services/mod.rs
  crates/slipstream-server/src/services/uploads.rs
  crates/slipstream-server/src/storage/mod.rs
  crates/slipstream-server/src/storage/s3.rs
  crates/slipstream-server/src/testing.rs
  package.json
  workspace-hack/Cargo.toml
Due: rustfmt, cargo-sort

Extract object storage into new crate
  crates/slipstream-objectstorage/Cargo.toml
  crates/slipstream-objectstorage/src/lib.rs
  crates/slipstream-objectstorage/src/s3.rs
  crates/slipstream-server/Cargo.toml
  crates/slipstream-server/src/app.rs
  crates/slipstream-server/src/lib.rs
  crates/slipstream-server/src/services/files.rs
  crates/slipstream-server/src/storage/mod.rs
  crates/slipstream-server/src/testing.rs
  workspace-hack/Cargo.toml
Due: rustfmt

moving this to a cloud instance for fast amd64 builds
  .mise.toml
  .mise/tasks/docker/build
  Dockerfile
  apps/restate-openai-agent/Cargo.toml
  apps/restate-openai-agent/src/main.rs
  apps/slipstream-b2-listener/.dockerignore
  apps/slipstream-b2-listener/.gitignore
  apps/slipstream-b2-listener/Cargo.toml
  apps/slipstream-b2-listener/README.md
  apps/slipstream-b2-listener/func.yaml
  apps/slipstream-b2-listener/src/main.rs
  compose.yml
  crates/slipstream-ai/Cargo.toml
  crates/slipstream-ai/build.rs
  crates/slipstream-ai/src/chunking/chunker.rs
  crates/slipstream-ai/src/chunking/mod.rs
  crates/slipstream-ai/src/embedding/mod.rs
  crates/slipstream-ai/src/embedding/openailike.rs
  crates/slipstream-ai/src/embedding/workflow.rs
  crates/slipstream-ai/src/grammars/mod.rs
  crates/slipstream-ai/src/lib.rs
  crates/slipstream-memory/Cargo.toml
  crates/slipstream-memory/src/lib.rs
  crates/slipstream-objectstorage/Cargo.toml
  crates/slipstream-restate/Cargo.toml
  crates/slipstream-server/src/testing.rs
  docs/llm-guides/01-configure-subcrate-sqlx-restate.md
  docs/llm-guides/02-scaffold-repository-pattern.md
  docs/llm-guides/03-add-feature-existing-repository.md
  docs/restate_indexing_pipeline.md
Due: rustfmt

fix the target triple location
  Dockerfile
Due: none
